# we need to separate out some of the big files like maps, gdf files from the commit
# some files, like example lattices (.in files) and tolerance files (.yml files) are kept in as an example, but we don't want all 

# no dist - can be re-evaluated before PyPi 
dist/

# select examples only - EPAC PMQ Array + dipole testing
examples/*
!/examples/EPAC_PMQ/
!/examples/DIPOLE_TESTING/

# no tests
tests/

# no utilities
utilities/

# uploads of the technical notes
#ignore the word versions
technical_notes/*.docx




# ignore all GPT input and gdf files (too much data) - the EPAC ones have been included as 
*.gdf
*.in

# ignore the yaml template files generated
*.yml
!GPT_congif.yml

# ignore the dat files that are generate
*.dat