# we need to separate out some of the big files like maps, gdf files from the commit
# some files, like example lattices (.in files) and tolerance files (.yml files) are kept in as an example, but we don't want all 

# ignore the MAPS directories
MAPS/

# ignore the plots directory
FIGS/


# ignore all GPT input and gdf files (too much data) - the EPAC ones have been included as 
*.gdf
*.in

# ignore the yaml template files generated
*.yml
!GPT_congif.yml

# ignore the dat files that are generate
*.dat